<footer class="site-footer">
  <div class="associate-logo-wrapper">
    {%- for associate in site.associated -%}
    {% assign logo_path = "/assets/images/logos/placeholder.jpg" %}
    {% assign search_for_path = "assets/images/logos/" | append: associate.logo %}
    {% for file in site.static_files %}
    {% if file.path contains search_for_path %}
    {% assign logo_path = search_for_path %}
    {% endif %}
    {% endfor %}
    <a href={{ associate.link }} target="_blank">
      <img class="associate-logo" src="{{ logo_path | relative_url }}" alt="{{ associate.name }} logo">
    </a>
    {%- endfor -%}
  </div>
  <p>{{ site.description | escape }}</p>
</footer>