<div class="lectures">
    {%- assign lectures = site.lectures -%}
    {%- for lecture in lectures -%}
    <div class="lecture">
        <div class="index">
            {{ 1 }}
        </div>
        <div class="date">
            {{ lecture.date | date: "%d.%m.%Y"}}
        </div>
        <div class="content">
            {{ lecture.content }}
        </div>
        <div class="lecturers">
            {%- for lecturer in lecture.lecturers -%}
            <div class="lecturer">
                {{ lecturer }}
            </div>
            {%- endfor -%}
        </div>
        <div class="interactables">
            {%- if lecture.recording -%}
            <div class="active">
                <a href="{{ lecture.recording }}">
                    {% include icons/recording.svg %}
                </a>
            </div>
            {%- else -%}
            <div class="disabled">
                {% include icons/recording.svg %}
            </div>
            {%- endif -%}
            {%- if lecture.slides -%}
            <div class="active">
                <a target={{ lecture.slides }}>
                    {% include icons/slides.svg %}
                </a>
            </div>
            {%- else -%}
            <div class="disabled">
                {% include icons/slides.svg %}
            </div>
            {%- endif -%}
        </div>
    </div>
    {%- endfor -%}
</div>