body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5 * $base-font-size;
  color: var(--primary-color)
}

.page-width-manager {
  width: 50%;
}

@media (max-width: 768px) {
  .page-width-manager {
    width: 100%;
    padding-left: 2 * $spacing-unit;
    padding-right: 2 * $spacing-unit;
  }
}

.home {
  .top-matter {
    height: 300px;
    display: flex;
    flex-direction: row;
    border-bottom: var(--separator);
    width: 100%;
    padding-top: 2 * $spacing-unit;
    padding-bottom: 2 * $spacing-unit;
  }
}

.page-content {
  padding-top: $header-height;
}

.title-large-container {
  display: flex;
  flex-direction: column;
  border-right: var(--separator);
  padding-right: 2 * $spacing-unit;

  h1 {
    text-transform: none;
    color: var(--text-color);
    font-size: 3 * $base-font-size;
    line-height: 3 * $base-font-size;
    font-weight: 900;
    margin-bottom: $base-font-size;
  }

  h2 {
    font-weight: 400;
  }
}

.about-container {
  padding-left: 2 * $spacing-unit;
  overflow:scroll
}

.page-link {
  color: var(--primary-color);
  font-weight: $base-font-weight;
  text-transform: uppercase;
  text-decoration: underline;
}
