/* Renders a lecturer */
.lecturer-container {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: "lecturer-image lecturer-content";
}

/* Renders the lecturer image as a circle */
.lecturer-image {
    grid-area: lecturer-image;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* Renders the lecturer content */
.lecturer-content {
    grid-area: lecturer-content;
    margin: 10px;
}

/* Contains lecturer institution logos */
.lecturer-institution-logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Renders a lecturer institution logo */
.lecturer-institution-logo {
    height: 2vh;
    max-width: 5vw;
    padding-right: 10px;
}

.footer-logo {
    height: 3vh;
    max-width: 5vw;
    padding-right: 10px;
}