---
layout: base
---

<div class="home">
  <div class="top-matter">
    <div class="title-large-container">
      <h1>Evidence Based Design</h1>
      <h2>Methods and Tools for Evaluating Architectural Design</h2>
      <a style="font-weight: 700" href="https://ethz.zoom.us/j/61956062357?pwd=WlybsaDXI38okLKirsAYSsv68qgLrz.1" target="_blank">
        Wednesdays 18:00-20:00
        <br>
        ONLINE
      </a>
    </div>
    <div class="about-container">
      {{ content }}
    </div>
  </div>

  {%- include lecture-table.html -%}

</div>